<!DOCTYPE html>
<html>
<head>
  <title>ApiKeyRegistration</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> container">
        <p><%= value %></p>
    </div>
  <% end %>
  
  <div class="container">
    <% if !@current_user.nil? %>
      <div id="user-information">
        <p>Inloggad som: <%= @current_user.username %></p>
        <%= link_to 'Logga ut', logout_path %>
      </div>
    <% end %>
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>

</body>
</html>
