<% if flash[:notice] %>
    <div class="notice">
        <%= flash[:notice] %>
    </div>
<% end %>

<div class="container">
    <div id="login">
        <h2>Logga in</h2>
        <fieldset>
            <%= form_tag(login_path, method: 'post') do %>
                <%= label_tag(:username, 'Användarnamn') %>
                <%= text_field_tag(:username) %>
                <%= label_tag(:password, 'Lösenord') %>
                <%= password_field_tag(:password) %>
                <%= submit_tag 'Logga in', :id => "submit" %>
            <% end %>
        </fieldset>
        
        <%= link_to 'Registrera ny användare', new_user_path %>
        
    </div>
</div>