<div class="container">
    <div>
        <div id="user-information">
            <p>Inloggad som: <%= @user.username %></p>
            <%= link_to 'Logga ut', logout_path %>
        </div>
        <h1>Applikationer</h1>
        <div>
            <ul id="user-clients">
                <% @clients.each do |client| %>
                    <li>
                        <h2><%= client.name %></h2>
                        <p><strong>Användare:</strong> <%= client.user.username %></p>
                        <p><strong>API-nyckel:</strong> <%= client.key %></p>
                        
                        <% if client.active %>
                            <p class="active"><strong>Status: </strong>Aktiv</p>
                        <% else %>
                            <p class="inactive"><strong>Status: </strong>Inaktiverad av admin</p>
                        <% end %>
                        
                        <p><strong>Url:</strong> <%= client.url %></p>
                        <p><strong>Beskrivning:</strong> <%= client.description %></p>
                        
                        <% if client.active %>
                            <%= link_to 'Inaktivera', revoke_client_path(:id => client.id) %>
                        <% else %>
                            <%= link_to 'Återaktivera', reactivate_client_path(:id => client.id) %>
                        <% end %>
                        
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</div>