<div class="container">
    <div id="register">
        <h2>Registrera</h2>
        <fieldset>
            <%= form_for @user do |f| %>
                <%= f.label :username %>
                <%= f.text_field :username %>
                <%= f.label :password %>
                <%= f.password_field :password %>
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>
                <%= f.submit 'Registrera', :id => "submit" %>
            <% end %>
        </fieldset>
        <%= link_to 'Tillbaka till logga in', root_path %>
    </div>
</div>