<div class="container">
    <div>
        <div id="user-information">
            <p>Inloggad som: <%= @user.username %></p>
            <%= link_to 'Logga ut', logout_path %>
        </div>
        <h1>Applikationer</h1>
        <div>
        <%= link_to 'Lägg till applikation', new_client_path, :id => 'add-client' %>
        <ul id="user-clients">
            <% @user.clients.each do |client| %>
                <li>
                    <h2><%= client.name %></h2>
                    <p><strong>API-nyckel:</strong> <%= client.key %></p>
                    
                    <% if client.active %>
                        <p class="active"><strong>Status: </strong>Aktiv</p>
                    <% else %>
                        <p class="inactive"><strong>Status: </strong>Inaktiverad av admin</p>
                    <% end %>
                    
                    <p><strong>Url:</strong> <%= client.url %></p>
                    <p><strong>Beskrivning:</strong> <%= client.description %></p>
                    <%= link_to 'Ta bort (går inte att ångra)', delete_client_path(:id => client.id), {:class => 'red'} %>
                </li>
            <% end %>
        </ul>
        </div>
    </div>
</div>